/.idea

pvz/pvz.exe
pvz/pvz
pvz/orders.json
pvz/storage.json
pvz/.golangci-report.env

.git

pvz/tools
pvz/third_party

pvz/logs

pvz/.env

pvz/coverage.html
pvz/coverage.out

pvz/allure-results/
pvz/allure-report/